# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
eclipse

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# minecraft run directories
run
runs
run-data

# local maven publish target
repo

# misc
.env
*.log
